<template data-controller-name="com.zhenergy.organization.view.OrganizationView">
    <div class="strt-wrap" id="strtWrap" style="width: 100%;overflow-x:auto;height: 92%;">
    <!--<div id="scrollContainer">-->
        <div class="strt-block"  >
            <div class="top_title">
                <div styel="padding-top: 5px;"><span style="">查询日期:</span><span id="dataForm" style="margin-left:65px;"></span>
                     <span style="margin-left: 300px;">输出层级:</span><span id="shuChuCengJiForm" style="margin-left:60px;"></span>
                </div>
                <div style="margin-top:5px;"><span style="">组织单元编码:</span><span id="textFieldForm0" style="margin-left: 20px;"></span><span id="textFieldForm"></span><span id="zuZhiDanYanBianMaForm" style="margin-left: 10px;"></span></div>
                <div style="margin-top:5px;">
                    <span style="margin-left: 500px;" id="queryButton"></span>
                </div>
            </div>
            <div class="strt-part" style="" id="htmlstrtpart">
                <!--<div class="strt-name-div" style="margin-top: 7px;padding: 5px;">-->
                <!--    <span>公司领导</span><span style='padding-left:20px' id="com_content_title"></span>-->
                <!--</div>-->
                <!--<div class="line-v" ><span></span></div>-->
                <!--    <div class="strt-block" id="strt_block_table" >-->
                <!--    <div style="clear:both;"></div>-->
                <!--	</div>-->
                </div>
            <!--</div>-->
        </div>
    </div>
</template>